<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Hello</title>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

            body, html {
                padding:     0;
                margin:      0;
                height:      100%;
                font-family: 'Nunito', sans-serif;
            }

            body {
                background-color: #535d82;
            }

            .wrapper {
                box-sizing:      border-box;
                height:          100%;
                display:         flex;
                align-items:     center;
                justify-content: center;
            }

            .greeting {
                font-weight: 300;
                font-size:   2em;
                color:     #fff;
            }
            
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="greeting">
                {{ .Message }}
            </div>
        </div>
    </body>
</html>